.container-main{
    justify-content: space-around;
    display: flex;
    margin: 30px;
    padding: 20px;
}
.containers{
    padding: 40px;
    max-width: 100%;
    width: 30%;
    height: 500px;   
    background-color: #ffff;
    border-radius: 20px;
    text-align: center;
}
.containerText2 h1{
    text-align: center;
    color: #fff;
    font-size: 55px;
}
.containerText2 p{
    padding: 20px;
    text-align: center;
    color: #fff;
}
.containers p{
    padding: auto;
}
.img-not2{
    justify-content: center;
    max-width: 90%;
    max-height: 80%;
    height: auto;
    width: auto;
}
@media(max-width:900px ){
    .img-not2{
        visibility: hidden;
    }
}

